# Configuración del Servidor
PORT=5000
NODE_ENV=development
FRONTEND_URL=http://localhost:5173

# Configuración Base de Datos
DB_PATH=./data/ebi_facturacion.db

# Configuración EBI PAC
EBI_WSDL_URL=https://test.ebi-pac.com/Service.svc?wsdl
TOKEN_EMPRESA=tu_token_aqui
TOKEN_PASSWORD=tu_password_aqui

# Configuración de Logs
LOG_LEVEL=info
